#
# Default requirements for unit tests.
#

# Mandatory for Python < 3.8. All other dependencies are optional.
typing-extensions; python_version < '3.8'

# Common cases
# Part of `zut[commons]` extra
colorlog
tabulate
tzlocal; python_version < '3.9' or sys_platform == 'win32'
pytz; python_version < '3.9'
tzdata; python_version >= '3.9' and sys_platform == 'win32'

# For zut.excel
# Part of `zut[excel]` extra
openpyxl
defusedxml

# For zut.files (when used on SMB shares on Linux, or on Windows for shares that are not accessible directly from the Windows filesystem)
# Part of `zut[smb]` extra. NOTE: has many intermediate dependencies.
#smbprotocol; sys_platform == 'linux'

# For zut.configure_logging
# Part of `zut[systemd]` extra. NOTE: requires `sudo apt install build-essential python3-dev pkg-config libsystemd-dev`.
#systemd-python; sys_platform == 'linux'

# For zut.db
# Part of `zut[mssql]`, `zut[pg]` and `zut[pg2]` extras
sqlparse

# For zut.db.mssql
# Part of `zut[mssql]` extra
pyodbc
sqlparams

# For zut.db.pg
# Part of `zut[pg]` extra
psycopg[binary]

# For zut.db.pg2
psycopg2-binary
